<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Actualización de vehiculo</h1>
            <p class="text-lead text-light">Use este formulario para actualizar un vehiculo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card form-card">
          <form>
            <!-- input nombre vehiculo -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-tag"></i></span>
                </div>
                <input class="form-control" placeholder="Ingrese el nombre del vehiculo" type="text" id="nombre"
                  name="nombre" [(ngModel)]="vehiculos.nombre">
              </div>
            </div>
            <!-- input descripcion vehiculo -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-align-left-2"></i></span>
                </div>
                <input class="form-control" placeholder="Ingrese la descripción del vehiculo" type="text" id="descripcion"
                  name="descripcion" [(ngModel)]="vehiculos.marca">
              </div>
            </div>
            <!-- input precio vehiculo -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-money-coins"></i></span>
                </div>
                <input class="form-control" placeholder="Ingrese el precio del vehiculo" type="number" id="precio"
                  name="precio" [(ngModel)]="vehiculos.modelo">
              </div>
            </div>
            <!-- input cantidad vehiculo -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-box-2"></i></span>
                </div>
                <input class="form-control" placeholder="Ingrese la placa de vehiculos" type="text" id="cantidad"
                  name="cantidad" [(ngModel)]="vehiculos.placa">
              </div>
            </div>
            <!-- Input para subir imagen del vehiculo -->
            <div class="form-group">
              <div class="custom-file">
                <input class="custom-file-input" type="file" id="imagen" name="imagen" accept="image/*"
                  (change)="onFileSelected($event)">
                <label class="custom-file-label" for="imagen">Seleccionar Imagen</label>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4 animate-btn" (click)="actualizarvehiculo()">Actualizar
                vehiculo</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>