<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Registro de Usuario</h1>
                    <p class="text-lead text-light">Use este formulario para crear un usuario nuevo</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card form-card">


                <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
                    <!-- Nombre -->
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                            </div>
                            <input class="form-control" placeholder="Nombre" type="text" required
                                formControlName="name">
                            <small *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched"
                                class="text-danger">
                                El nombre es requerido (minimo 3 caracteres)
                            </small>
                        </div>
                    </div>
                    <!-- userName -->
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                            </div>
                            <input class="form-control" placeholder="Nombre de usuario" type="text" required
                                formControlName="userName">
                            <small
                                *ngIf="registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched"
                                class="text-danger">
                                El nombre del usuario es requerido (minimo 3 caracteres)
                            </small>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                            </div>
                            <input class="form-control" placeholder="Correo electrónico" type="email" required
                                formControlName="email">
                            <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                                class="text-danger">
                                Ingresa un correo valido.
                            </small>
                        </div>
                    </div>
                    <!-- Phone -->
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                            </div>
                            <input type="tel" class="form-control" placeholder="Numero de telefono"
                                formControlName="phone" required>
                            <small *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched"
                                class="text-danger">
                                Debe tener 10 dijitos y no contener letras.
                            </small>
                        </div>
                    </div>
                    <!-- Dirección -->
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Dirección" formControlName="address">
                            <small *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched"
                                class="text-danger">
                                Se requiere ingresar un dirección.
                            </small>
                        </div>
                    </div>

                    <div>
                        <label for="role">Rol:</label>
                        <select formControlName="role" title="Seleccione un rol">
                            <option value="ADMIN">Administrador</option>
                            <option value="USER">Usuario</option>
                            <option value="EMPLOYEE">Empleado</option>
                        </select>
                    </div>

                    <div>
                        <label for="active">Estado:</label>
                        <select formControlName="active" title="Seleccione un estado">
                            <option [value]="true">Activo</option>
                            <option [value]="false">Inactivo</option>
                        </select>
                    </div>

                    <!-- Contraseña -->
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Contraseña"
                                formControlName="password" (input)="checkPasswordStrength()">
                            <small
                                *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                                class="text-danger">
                                La contraseña debe tener al menos 8 caracteres e incluir un número, una letra mayúscula
                                y un carácter
                                especial.
                            </small>
                        </div>
                        <br>
                        <!-- Confirmar Contraseña -->
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Confirmar contraseña"
                                    formControlName="confirmPassword">
                                <small
                                    *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched"
                                    class="text-danger">
                                    ¡Las contraseñas no coinciden!
                                </small>
                            </div>
                        </div>
                        <div class="text-muted font-italic">
                            <small>Fuerza de la contraseña: <span
                                    [ngClass]="{'text-success': passwordStrength === 'Fuerte', 'text-danger': passwordStrength === 'Debil'}">{{
                                    passwordStrength }}</span></small>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-4" [disabled]="registerForm.invalid">Crear
                            cuenta</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>