<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="height: 50vh;">
    <span class="mask bg-primary"></span>
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-ligth">Detalles del mantenimiento</h1>
                <p class="text-ligth mt-0 mb-5">
                    Aquí puedes ver la información detallada del mantenimiento seleccionado.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <!-- Carrusel con una sola imagen -->
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card shadow">
                <div id="carouselMantenimiento" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img [src]="mantenimiento.imagen" class="d-block w-100 rounded" alt="Mantenimiento" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Información del mantenimiento en tabla -->
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">Especificaciones</h6>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th>Nombre</th>
                                    <td>{{mantenimiento.nombre}}</td>
                                </tr>
                                <tr>
                                <tr>
                                    <th>Fecha</th>
                                    <td>{{ mantenimiento.fechaMante}}</td>
                                </tr>
                                <tr>
                                    <th>Descripción</th>
                                    <td>{{ mantenimiento.caracteristrica }}</td>
                                </tr>
                                <tr>
                                    <th>Precio</th>
                                    <td>{{ mantenimiento.precio | currency: 'COP' : 'symbol' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <button class="btn btn-sm btn-primary"
                        (click)="editarMantenimiento(mantenimiento.id)">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>